{% extends "base.html" %}

{% block head_title %}Profile{% endblock %}

{% block body_title %}Profile{% endblock %}

{% block content %}

<p>Your profile</p>

{% if user.is_authenticated %}
<p>You're logged in with {{ user.get_provider }} as {{ user }}.</p>

{{accounts.twitter}} <br/>

{{ user }} <br/>
{{ verified }} <br/>

<p>Go to <a href="{% url 'facebook_get_photos' %}">My Facebook Photos</a>
 | <a href="{% url 'facebook_get_album_photos' %}">My Facebook OPENi Album</a>
 | <a href="{% url 'photo_choose_media' %}">Post Photos to Social Accounts</a></p>
{% endif %}

{% endblock %}
